:root {
    --background: #222222;
    --main-font-color: #fefefe;
}

body {
    background-color: var(--background);
    color: var(--main-font-color);
    margin: 0;
    font-size: 15px;
}

.project-section {
    margin: 30px 0;
}

.task-text {
    user-select: none;
    pointer-events: none;
}

.section-text {
    user-select: none;
    pointer-events: none;
}

