:root {
    --background: #222222;
    --main-font-color: #fefefe;
    --division: #525252;
    --color-text-button: #2d9fdd;
    --main-button-color: #3d3d3d;
    --main-button-color-hover: #484848;
    --secondary-button-color: #2d9fdd;
    --secondary-button-color-hover: #2888bb;
}

body {
    background-color: var(--background);
    color: var(--main-font-color);
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body.dragging, body.dragging * {
    cursor: grabbing;
    user-select: none;
}

.project-content {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* buttons */
.default-button {
    background-color: var(--main-button-color);
    color: var(--main-font-color);
    padding: 0 20px;
    max-height: 25px;
    height: 25px;
    border: 1px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.default-button:hover {
    background-color: var(--main-button-color-hover);
    /* color: var(--color-text-button); */
}

.text-button {
    pointer-events: none;
    user-select: none;
}

/* --Project Header-- */
.project-header {
    position: sticky;
    top: 0;
    background-color: var(--background);
    margin: 5px 0 10px;
    z-index: 2;
    box-sizing: border-box;
}

.project-title {
    display: inline-block;
    padding: 10px 5px;
}

.project-title h1 {
    margin: 0;
}

.section-adder {
    display: inline-block;
}

.add-section {

}


/* --Project board-- */
.project-board {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 5px;
}

.project-section {
    width: 100%;
    margin: 0 0 30px;

}


.section-header {
    width: 100%;
    height: 100%;
    max-height: 25px;
    padding: 5px 0;
    background-color: var(--background);
    border-bottom: var(--division) solid 1px;
}

.section-title {
    display: inline-block;
    padding: 0 3px;
}

.section-text {
    font-size: 1.2em;
    font-weight: 600;
    user-select: none;
    pointer-events: none;
}

.delete-section-content {
    display: inline-block;
    box-sizing: border-box;
}


.section-inner-content {
    padding: 5px 0 0 20px;
}

.task-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
    width: 100%;
    max-width: 1080px;
    height: 100%;
    min-height: 35px;
    max-height: 50px;
    padding: 3px;
    border-bottom: 1px solid var(--division);
    cursor: pointer;
    box-sizing: border-box;
}

.dragged-element {
    position: absolute;
    pointer-events: none;
}

.dragging-preview {
    background-color: var(--main-button-color);
    width: 100%;
}

.dragging-preview > :is(div, li) {
    opacity: 0;
}

.task:hover {
    
}

.task-checkbox {
    
}

.task-title {
    width: 100%;
    margin: 0 4px;
    padding: 1px 2px;
}

.task-text {
    word-break: break-word;
    user-select: none;
    pointer-events: none;
}

.task:has(.task-checkbox:checked) .task-text {
    text-decoration: line-through;
}

.task-tools {
    display: none;
}

.task:hover  .task-tools {
    display: block;
}

.delete-task-content {

}

.delete-task-button {

}


.task-editor {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.task-editor-area {

}

.task-editor-input {

}

.input-field {
    background: none;
    border: none;
    color: var(--main-font-color);
    width: 100%;
    height: 100%;
    outline: none;
    cursor: text;
}

.input-text {
    display: block;
}

/* Mudar: root  */
.input-field .input-text:has(br)::before {
    color: #808080; 
    content: attr(placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}


.task-editor-footer {

}


.task-adder {
    padding: 0 2px;
    box-sizing: border-box;
}

.add-task-button {
    background: none;
    color: var(--main-font-color);
    border: none;
    width: 100%;
    padding: 3px;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
}

.add-task-button:hover {
    color: var(--color-text-button);
    background-color: transparent;
}

.add-button {
    background-color: var(--secondary-button-color);
}

.add-button:hover {
    background-color: var(--secondary-button-color-hover);
}